.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, #7ed56f95, #28b48595), url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    &__logo-box {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }
    &__logo {
        height: 1.5rem;
    }
    &__heading-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}